$main-text-color: black;
$sub-text-color: grey;
$button-label-text-color: white;
$main-background-color: rgb(10, 160, 219);
$sub-background-color: rgb(125, 185, 125);
$accept-background-color: #bbf3bb;
$divider-color: lightgrey;
$divider-color-dark: black;
